.menu {
  text-align: center;
  padding: 6px 6px;
}


a {
  text-transform: uppercase; /*Palavras do Menu em letras MAIÚSCULAS*/
    color: #000000;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
    text-align: center;
  
}

li {
  display: inline;
  padding: 6px 12px;
}

.banner {
  background-color: aquamarine;
  height: 30%;
  margin-top: 20px;
}